<!-- This is the default page of our flask app -->
<!DOCTYPE html>
<html>
    <body>
        <!-- We can use href links to redirect to different routes that will perform different queries and display the appropriate page -->
        <a href = '/viewAllRegions'><button>Regions</button></a><br>
        <a href = '/viewAllPokemon'><button>Pokemon</button></a><br>
        <a href = '/viewAllTrainers'><button>Trainers</button></a><br>
        <a href = '/viewAllAbilities'><button>Abilities</button></a><br>
        <a href = '/viewEggGroups'><button>Egg Groups</button></a><br>
    </body>
</html>