<!-- This is the page to view all pokemon found in the pokemon table in pokeData.db -->
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Sample</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
	
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js.geotools/dist/geotools.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js.geotools/dist/geotools-swedish-zipcodes.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>

        <script src="../static/plugins/jquery.fancyTable/src/fancyTable.js"></script>
   

    </head>
    
    <body>
        <h1>All <img src="/static/images/typeIcons/{{allPokemonType[0][42]}}.png" alt="Test" width="50">{{allPokemonType[0][42]}} Type Pokemon: </h1>
         <br>
         <a href = '/'><button>HomePage</button></a><br>
         <a href = '/viewAllPokemon'><button>All Pokemon</button></a><br>

         <div class="container">
                <table id="sampleTableA" class="table table-striped sampleTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Pokedex #</th>
                        <th>Name</th>
                        <th>Japanese Name</th>
                        <th>Classification</th>
                        <th>Type 1</th>
                        <th>Type 2</th>

                        <th>HP</th>
                        <th>Attack</th>
                        <th>Defense</th>
                        <th>SP Attack</th>
                        <th>SP Defense</th>
                        <th>Speed</th>
                        <th>Base Total</th>

                        <th>Height (m)</th>
                        <th>Weight (kg)</th>
                        <th>Base Egg Steps</th>
                        <th>Base Happiness</th>
                        <th>Capture Rate</th>
                        <th>Experience Growth</th>
                        <th>Percentage Male</th>
                        <th>Gen #</th>
                        <th>Is legendary</th>
                        <th>Evolution Species</th>
                        <th>Evolution Stage</th>

                        <th>p_against_bug</th>
                        <th>p_against_dark</th>
                        <th>p_against_dragon</th>
                        <th>p_against_electric</th>
                        <th>p_against_fairy</th>
                        <th>p_against_fight</th>
                        <th>p_against_fire</th>
                        <th>p_against_flying</th>
                        <th>p_against_ghost</th>
                        <th>p_against_grass</th>
                        <th>p_against_ground</th>
                        <th>p_against_ice</th>
                        <th>p_against_normal</th>
                        <th>p_against_poison</th>
                        <th>p_against_psychic</th>
                        <th>p_against_rock</th>
                        <th>p_against_steel</th>
                        <th>p_against_water</th>
                    </tr>
                    </thead>

                    {% for row in allPokemonType %}
                
                    <tr>
                        <!-- We can pull the photo for a pokemon by using the name attribute to src the img -->
                        <td><img src="/static/images/pokemon/{{ row[29] }}.png" alt="Test" width="100"></td>
                        <td> {{ row[31] }} </td>
                        <td><a href="/viewIndPokemon/{{ row[29] }}">{{ row[29] }}</a></td>
                        <td> {{ row[28] }} </td>
                        <td> {{ row[23] }} </td>
                        <td> 
                            <a href="/viewIndType/{{ row[35]}}">
                                <img src="/static/images/typeIcons/{{row[35]}}.png" alt="Test" width="50"> 
                                {{ row[35] }}
                            </a>
                        </td>
                        <td>
                            {% if row[36] %} 
                                <a href="/viewIndType/{{ row[36]}}">
                                    <img src="/static/images/typeIcons/{{row[36]}}.png" alt="Test" width="50"> 
                                    {{ row[36] }}
                                </a>
                            {% endif %}
                        </td>

                        <td> {{ row[27] }} </td>
                        <td> {{ row[18] }} </td>
                        <td> {{ row[24] }} </td>
                        <td> {{ row[32] }} </td>
                        <td> {{ row[33] }} </td>
                        <td> {{ row[34] }} </td>
                        <td> {{ row[21] }} </td>

                        <td> {{ row[26] }} </td>
                        <td> {{ row[37] }} </td>
                        <td> {{ row[19] }} </td>
                        <td> {{ row[20] }} </td>
                        <td> {{ row[22] }} </td>
                        <td> {{ row[25] }} </td>
                        <td> {{ row[30] }} </td>
                        <td> {{ row[38] }} </td>
                        <td> {{ row[39] }} </td>
                        <td>PokeDex: <a href="/viewIndPokemon/{{ row[29] }}">{{ row[40] }}</a></td>
                        <td> {{ row[41] }} </td>

                        <td> {{ row[0] }} </td>
                        <td> {{ row[1] }} </td>
                        <td> {{ row[2] }} </td>
                        <td> {{ row[3] }} </td>
                        <td> {{ row[4] }} </td>
                        <td> {{ row[5] }} </td>
                        <td> {{ row[6] }} </td>
                        <td> {{ row[7] }} </td>
                        <td> {{ row[8] }} </td>
                        <td> {{ row[9] }} </td>
                        <td> {{ row[10] }} </td>
                        <td> {{ row[11] }} </td>
                        <td> {{ row[12] }} </td>
                        <td> {{ row[13] }} </td>
                        <td> {{ row[14] }} </td>
                        <td> {{ row[15] }} </td>
                        <td> {{ row[16] }} </td>
                        <td> {{ row[17] }} </td>
                    </tr>
                
                    {% endfor %}
                </table>
            </div>

            <!-- Fancy Table Formatting -->
            <script type="text/javascript">
                    var fancyTableA = $("#sampleTableA").fancyTable({
                        pagination: true,
                        perPage:5,
                        globalSearch:true
                    });
            </script>

            
    

    </body>
</html>